<div id="vmaig-hotest-posts">
    <div class="panel panel-vmaig">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-flag"></span>
                ChinaDRM论坛
            </h3>
        </div>
        <ul  class="list-group collapse in" style="margin-left: 10px;margin-top: 5px">
            <li style="margin-bottom:10px; font-size: large; list-style-type:none;">
                <a href="/all">
                    <span class="glyphicon glyphicon-globe"></span>
                    <B>论坛简介</B>
                </a>
            </li>
            <li style="margin-bottom:10px; font-size: large; list-style-type:none;">
                <a href="/all">
                    <span class="glyphicon glyphicon-globe"></span>
                    <B>技术白皮书</B>
                </a>
            </li>
            <li style="font-size: large; list-style-type:none; margin-bottom: 5px">
                <a href="/all">
                    <span class="glyphicon glyphicon-globe"></span>
                    <B>论坛新进展</B>
                </a>
            </li>
        </ul>
    </div>
</div>
